<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589420087727-n9doi4l8q8e95k9arndkb33vv4jggl1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589420087727-n9doi4l8q8e95k9arndkb33vv4jggl1t</string>
	<key>API_KEY</key>
	<string>AIzaSyCb4DwDilsO6LzalOic4N1FDC2Pgceg7iY</string>
	<key>GCM_SENDER_ID</key>
	<string>589420087727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>template.com.taskManager</string>
	<key>PROJECT_ID</key>
	<string>taskmanager-346fd</string>
	<key>STORAGE_BUCKET</key>
	<string>taskmanager-346fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:589420087727:ios:ba6eb09434f2fc23d1c75a</string>
	<key>DATABASE_URL</key>
	<string>https://taskmanager-346fd.firebaseio.com</string>
</dict>
</plist>
